@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: "Urbanist", sans-serif;
}

.main-container {
    margin: 10px 0px;
    height: 607px;
}

.Sobr, .Servi, .Proj  {
    text-align: center;
    padding-bottom: 35px;
}

/*---- HOME ----*/

.main_nome-logo {
    background-color: #9fdeabcd;
}

.main_texto-logo {
    margin: auto;
    margin: 0px 33px;
    padding: 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

@media (max-width: 700px){
    .main_texto-logo {
        /* width: 273px; */
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .home_texto {
        width: 273px;
    }
}

/* p, h5 {
    width: 273px;
    margin: auto;
    margin: 0px 10px; 
} */

.main-container .subtitulo {
    /* margin: auto; */
    padding: 9px 0 2px 0px;
    font-size: 27px;
    font-weight: 600;
    width: 273px;
}

.main-container .titulo {
    padding: 2px 0px;
    font-size: 40px;
    width: 273px;
}

h1 > span {
    color: #0a9505;
}

p.paragrafo {
    margin-bottom: 10px;
    margin: 0;
    width: 273px;
}

.main-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 12px 0px ;
    /* margin: 0px 10px; */
}

.main_botao {
    background-color: #0a9505;
    border-radius: 20px;
    padding: 9px;
}

.main_botao a {
    padding: 0px 20px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
}

 img.igor {
    border-radius: 100%;
    width: 16rem;
    padding: 0px 20px;
}

/*---- SOBRE ----*/

.fotoigor {
    background-color: #171717;
    width: 90px;
    margin: auto;
}

.sobre-nome {
    width: 273px;
    margin: auto;
}

.main_sobre {
    padding: 35px 0px;
}

.sob {
    width: 273px;
    margin: auto;
    
}

/*---- SERVICO ----*/

.main_servico {
    background-color: #9fdeabcd;
}

.main_servi_texto {
    padding: 35px 0px;
}

.area_servi {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media (max-width: 700px){
    .area_servi {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

.web_dev, .des_res_web {
    background-color: #ffffff;
    border-radius: 0px 35px 0px 35px;
    padding: 12px 0px;
    /* margin: auto; */
    width: 15rem;
}

.anel_verde {
    border: 2px solid;
    border-color: #0a9505;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto;   
}

.servi_subtitulo, .servi_paragrafo {
    text-align: center;
    margin-top: 10px;
    padding: 0px 20px;
}

#regular {
   padding: 10px;
}

/*---- PROJETO ----*/

.main_projeto {
    padding: 35px 0px;
}

figure {
    border-radius: 6px;
    margin: 0 12px;
    display: flex;
    flex-flow: column;
    box-shadow: 2px 2px 14px;
    max-width: 250px;
    height: 18rem;
}

/* figure .cloneSpotify {
    border-radius: 12px 12px 0px 0px; 
} */

.proj_subtitulo {
    text-align: center;
    margin-top: 10px;
    padding: 0px 20px;
    color: #0a9505;
}

.proj_paragrafo {
    text-align: center;
    margin: 10px 0;
    padding: 0px 20px;
    font-weight: 500;
}

.button_verde {
    border: 2px solid;
    border-color: #0a9505;
    padding: 5px 30px;
    border-radius: 32px;
    margin: auto;  
}

.link-proj {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

article.proj_quadro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (max-width: 700px){
    article.proj_quadro {
        flex-direction: column;
        align-items: center;
        
    }
}

